@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@1,500&display=swap');
*{
   margin: 0px;
   padding: 0px;
}


html{
   
   scroll-behavior: smooth;
}


body{
   scroll-behavior: smooth;
}



#userimg{
   padding: 10px;
   height: 260px;
}


#project-card{
   margin: 10px;
   align-items: center;
   width: 300px;
   background-color: white;
   height: 380px;
   border-radius: 20px;    
   box-shadow: 3px 3px 10px rgb(167, 167, 167);
   transition: 0.5s;
}

#project-card:hover{
   transform: scale(1.1);
}

.project-container{
   display: flex;
   max-width: 1446px;
   flex-wrap: wrap;
   justify-content: center;
}


.project-section{
   display: flex;
   justify-content: center;
   text-align: center;
   margin-left: 60px;
   margin-right: 60px;
   padding-top: 50px;
   padding-bottom: 50px;

}

h1,h3 {
   text-align: center;
   margin-top: 0px;
}

h1 {
   margin-bottom: 15px;
}

h3 {
   font-family: 'JetBrains Mono', cursive;
   margin-bottom: 25px;
}


.techhub-logo{
    height:5em;
    margin-top: 10px;
    margin-bottom: 30px;
}
.logo{

    display: flex;
    justify-content: center;
    align-items: center;
    
}
.mlogo{
   display: none;
}
.big-menu{
   margin-top:30px;
   display:flex;
}
nav{
   display: flex;
   justify-content: space-between; /*for shifting nav to left*/
}
.mbig-menu{
   display:none;
}
.discord-logo{
   display:none;
}
.nav-list{
    padding:10px;
}
/*------------------------------------------Responsive Media for Gallery and About me section--------------------------------------------------- */

@media only screen and (max-width: 1642px){
   .project-container{
       display: flex;
       flex-wrap: wrap;
   }
}
@media only screen and (max-width: 700px){
   .body{
      overflow-x: hidden;
   }
   #project-card:hover{
       transform: none;
       height: 380px;
   }
   .techhub-logo{
      height:4em;
      width:100%;
   }
   .logo{
      display:none;
   }
   .mlogo{
      display: flex;
       justify-content: center;
       align-items: center;
   }
   .big-menu{
      display:none;
   }
   .mbig-menu{
      width:100%;
      display:flex;
      justify-content:center;
      align-items: center;
   }
   .nav-list{
      padding:10px;
   }
}