@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@1,500&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
}

.error-message {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-message img {
  width: 243px;
  margin-bottom: 15px;
}
.error-message h3 {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  transition: all 0.3s ease-in;
}

.header {
  width: 100%;
  height: 55px;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 999;
  padding-top: 12px;
}

.header-shadow {
  box-shadow: 1px 0 10px rgba(0, 0, 0, 0.219);
}
.header-wrapper {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.header-logo {
  display: block;
  width: 130px;
  height: auto;
}
.header-logo img {
  width: 100%;
  height: auto;
}

nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.social-links {
  display: flex;
  padding: 0;
  gap: 12px;
  list-style: none;
}
.social-links a {
  color: #000;
  transition: all 0.3s ease-in;
}

.hamburger {
  width: 35px;
  height: 35px;
  margin-left: 10px;
  border-radius: 50%;
  border: 1px solid transparent;
  display: none;
  position: relative;
  cursor: pointer;
  background-color: transparent;
}

.mobile-nav {
  width: auto;
  list-style: none;
  position: absolute;
  top: 35px;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  left: -90px;
  border-radius: 5px;
  backdrop-filter: blur(10px);
  animation: slide-down 0.2s 1;
  transform-origin: right 0;
  display: none;
  box-shadow: 1px 0 10px rgba(0, 0, 0, 0.219);
}

.mobile-nav-enable {
  display: block;
}

@keyframes slide-down {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.mobile-nav li {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.mobile-nav li a {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: #000;
}
.container {
  width: 90%;
  margin: 0 auto;
}

.hero-title {
  text-align: left;
  margin-top: 35px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 65px;
  transition: all 0.3s ease-in;
}

#contributors {
  width: 90%;
  margin: 55px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(278px, 1fr));
  grid-gap: 45px;
}
.contributor-card,
.card-blank {
  /* width: 317px; */
  height: 155px;

  border-radius: 5px;
  background: #f9f9f9;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease-in;
}
.contributor_name {
  font-family: Arial, Helvetica, sans-serif;
}

.contributor-card:hover {
  transform: scale(1.1);
  box-shadow: 0px 82px 326px rgba(0, 0, 0, 0.07),
    0px 30.6584px 72.8164px rgba(0, 0, 0, 0.0537615),
    0px 7.66775px 21.6793px rgba(0, 0, 0, 0.0366426);
}
.github-btn,
.card-blank-github-btn {
  display: flex;
  width: 35px;
  height: 35px;
  background: #000;
  color: #fff;
  align-items: center;
  justify-content: center;
  border-radius: 65px;
  position: absolute;
  top: -15px;
  right: 15px;
  text-decoration: none;
}
.github-icon {
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
}
.card-blank-avatar {
  overflow: hidden;
}
.card-blank-avatar,
.card-avatar {
  width: 65px;
  height: 65px;
  position: absolute;
  top: -15px;
  left: 15px;
  background: #c4c4c4;
  border-radius: 5px;
  position: relative;

  transition: all 0.3s ease-in;
}
.card-avatar {
  transform: rotateZ(10deg);
  top: -25px;
  left: -5px;
}
.card-avatar img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: inherit;
}
.card-details,
.card-blank-detail {
  position: absolute;
  left: 15px;
  top: 65px;
}

.card-blank-name {
  width: 171px;
  height: 16px;
  background-color: #000;
  border-radius: 15px;
}

.card-blank-quote,
.card-blank-stack {
  width: 165px ;
  height: 8px ;
  background-color: #ccc;
  margin-top: 10px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}

.card-blank-avatar::after,
.card-blank-stack::after,
.card-blank-quote::after {
  content: "";
  width: 50%;
  left: 0;
  top: 0;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.9),
    transparent
  );
  position: absolute;

  animation: loading 1s infinite;
}

@keyframes loading {
  0% {
    transform: skew(-10deg) translateX(-110%);
  }
  100% {
    transform: skew(-10deg) translateX(200%);
  }
}

.discord_btn {
  width: 120px;
  height: 45px;
  padding-left: 12px;
  padding-right: 5px;
  background-color: transparent;
  display: flex;
  align-items: center;
  border:2px solid;
  margin-right: 15px;
  border-radius: 5px;
  justify-content: flex-start;
  gap: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(3, 65, 50, 0.849);
  text-decoration: none;
}
.online-avatars {
  display: flex;
  align-items: center;
  position: relative;
}
.online-avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: rgba(31, 209, 165, 0.849);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9px;
  font-weight: 900;
  color: white;
}
.online-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
  z-index: 1;
}
.online-avatar:nth-child(2) {
  z-index: 2 !important;
  position: absolute;
  left: 15px;
  top: 0;
}
.online-avatar:nth-child(3) {
  z-index: 3 !important;
  position: absolute;
  left: 25px;
  top: 0;
}
.online-avatar:nth-child(4) {
  z-index: 4 !important;
  position: absolute;
  left: 40px;
  top: 0;
}
.discord-count {
  display: none;
}

.theme-switcher {
  display: flex;
  width: 45px;
  height: 45px;
  border: 1px solid transparent;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: -500px;
  bottom: 25px;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  background-color: #ccc;
  transition: all 0.5s ease-in;
}
.theme-switcher-enable {
  right: 25px !important;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .social-links {
    display: none;
  }
  .hero-title {
    font-size: 28px;
    text-align: center;
    transition: all 0.3s ease-in;
  }
}

@media screen and (max-width: 375px) {
  .online-avatars {
    display: none;
  }
  .discord_btn {
    width: 45px;
    height: 45px;
    gap: 5;
  }
  .discord-count {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/*dark theme*/
.dark {
  background-color: #333132;
  transition: all 0.7s ease-in;
}

.dark .theme-switcher {
  background-color: #262626;
}

.dark .contributor-card,
.dark .card-blank {
  background: #2c2c2c;
}
.dark .contributor_name {
  color: #4b4bff ;
}

.dark .hero-title {
  color: #7277e7 ;
}
.dark .quote {
  color: #fff !important;
}
.dark .stack {
  color: #fff;
}

.dark .mobile-nav {
  background-color: #313131;
}
.dark .mobile-nav li a {
  color: #7277e7;
}

.dark .hamburger {
  color: #fff;
}

.dark .social-links a {
  color: #7277e7;
}
.dark .error-message h3 {
  color: #7277e7;
}
.dark .header {
  background-color: #333131;
}
