
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@1,500&display=swap');

*{
   margin: 0px;
   padding: 0px;
}


html{
   
   scroll-behavior: smooth;
}

body{
   scroll-behavior: smooth;
   font-family: 'Poppins', sans-serif;
}

#project-card {
   margin: 10px;
   align-items: center;
   width: 300px;
   background-color: white;
   height: 350px;
   border-radius: 20px;
   box-shadow: 3px 3px 10px rgb(167 167 167);
   transition: 0.5s;
}


#project-card a{
   color: black;
}

#project-card:hover{
   transform: scale(1.1);
}

.project-container{
   display: flex;
   justify-content: center;

}

.project-section{
   display: flex;
   flex-direction: column;
   text-align: center;
   /* margin-left: 60px;
   margin-right: 60px; */
   padding-top: 50px;
   padding-bottom: 50px;

}

#userimg{
   padding: 10px;
   height: 260px;
}

h1,h3 {
   text-align: center;
   margin-top: 0px;
}

h1 {
   margin-bottom: 15px;
}

h3 {
   font-family: 'JetBrains Mono', cursive;
   margin-bottom: 25px;
}
.template {
   display: none;
}

.techhub-logo{
    height:8em;
    margin-top: 10px;
    margin-bottom: 30px;
}
.logo{

    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* -------------------------------- Media-Fire------------------------------------------ */

@media only screen and (max-width: 1264px){
   .project-container{
       display: flex;
       flex-wrap: wrap;
   }
}

